<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Form Testing" thread-count="2" parallel="tests">
    <test name="Chrome Local Suite">
        <parameter name="runConfig" value="windows.chrome.local"/>
        <classes>
            <class name="testcase.e2e_test.EndToEnd"/>
        </classes>
    </test> <!-- Test -->

    <test name="Firefox Remote Suite">
        <parameter name="runConfig" value="windows.firefox.local"/>
        <classes>
            <class name="testcase.e2e_test.EndToEnd"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->